*.log
.DS_Store
.idea
.vscode

host/.env
host/.env.backup
host/.env.production
host/.phpunit.cache
host/.phpunit.result.cache
host/node_modules
host/public/build
host/public/hot
host/public/storage
host/storage/*.key
host/storage/framework/cache/*
host/storage/framework/sessions/*
host/storage/framework/testing/*
host/storage/framework/views/*
host/storage/logs/*
host/storage/pail
host/vendor
host/database/database.sqlite

plugins/*/vendor
plugins/*/node_modules
